<html>
        <head>
            <title>Blog teste da Thais</title>
        </head>
        <body>
            <div>
                <h1>Aqui estamos aprendendo como se escreve um blog</h1>

                <h2>Vamos testar os conteúdos por nível de importância</h2>
            </div>
            
            {{posts}}

            
            <div>
            </br>
                <h3>Vamos fazer uma lista do que aprendemos hoje</h3>
                <h4><ul><li>instalar o python</li><li>baixar o django e o git</li><li>servidores</li></ul></h4>
        </br>
                <h4>O tutorial do django girls é muito importante</h4>
                <h4><a href="http://tutorial.djangogirls.org">link</a></h4>
                              
            </div>

             
        </body>
    </html>